[run]
branch = True

omit =
  **/__init__.py
  **/migrations/**
  **/tests/**
  **/admin.py
  **/asgi.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug

[html]
directory = .cov_html

[xml]
output = coverage.xml
