# DB
*.db
*.sqlite3

# Django
migrations
static
media

# Python
__pycache__
*.log
*.pyc
*.pyo
*.pyd

# Coverage
.coverage
htmlcov

# Env
*.env
venv

# IDE
*.idea
*.vscode
*.DS_Store

# Logs
logs
*.log

# Notes
notes.md
